
/* #region Global */
.hidden {display: none !important;}
#editConfirmDialog {display: none;}
#importMasterFile {display: none;}
#restoreFile {display: none;}
/*-------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}
html, body {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}
body {
  font-family: Verdana, sans-serif;
  max-width: 480px;
  margin: auto;
  padding: 2px;
  padding-bottom: 80px;
  background: var(--bg);
  color: var(--text);
}
h1, h2, h3, p {
  margin: 0px;
  color: var(--text-header);
  text-align: center;
}
ul {
  list-style: none;
  margin-left: 0;
  margin-left: 0;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
#toast {
  position: fixed;
  width:400px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--complementary);
  color: var(--text);  
  padding: 15px 20px;
  border-radius: var(--radius-xl);   
  border: var(--border-width-s) solid var(--border-dark); 
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-m);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  text-align: center;
}
#toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
/* #endregion Global */

/* #region Sizes */
:root {
  /* SPACING */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;

  /* RADIUS */
  --radius-s: 3px;
  --radius-m: 6px;
  --radius-l: 12px;
  --radius-xl: 24px;

  /* TEXT */
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 30px;

  --font-weight-s: 100;
  --font-weight-m: 500;
  --font-weight-l: 1000;
  
  /* SIZE */
  --height-size-s: 30px;
  --height-size-m: 40px;
  --height-size-l: 50px;

  --width-size-s: 30px;
  --width-size-m: 50px;
  --width-size-l: 80px;
  --width-size-xl: 120px;  
  --width-size-max: 100%;  

  /* BORDER */
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 4px;

  --border-sides-none: 0;
  --border-sides-bottom: 0 0 1px 0;
  --border-sides-top: 1px 0 0 0;
  --border-sides-sides: 0 1px 0 1px;
  --border-sides-all: 1px;
}
/* #endregion Sizes */

/* #region THEMES */
.night-theme {
  --bg: #121212;
  --bg-card: #202020;
  --bg-surface: #323232;
  --bg-highlight: #4da3ff40;

  --border: #626161;
  --border-dark: black;

  --text: #eee;
  --text-muted: #aaa;

  --accent: #4da3ff;
  --complementary: #FF9A4D;
  --positive: #2ecc71;
  --negative: #c0392b;

  --inverted: invert(1);
}
.earth-theme {
  --bg: #f3e8d9;
  --bg-card: #fff8f0;
  --bg-surface: #e8d9c7;
  --bg-highlight: #ffa34d32;

  --border: #c9b8a6;
  --border-dark: #8c7a67;

  --text: #3a2f28;
  --text-muted: #6d5c52;

  --accent: #73925b;
  --complementary: #a98970;

  --positive: #3fae5a;
  --negative: #c0392b;

  --inverted: invert(0);
}
.vivid-theme {
  --bg: #0d0f1a;
  --bg-card: #1a1530;
  --bg-surface: #241c3f;
  --bg-highlight: #4da3ff40;

  --border: #5a4f80;
  --border-dark: #000000;

  --text: #f2eaff;
  --text-muted: #b9a8d9;

  --accent: #4da3ff;
  --complementary: #ff4d6d;

  --positive: #3fffc4;
  --negative: #fb2c15;

  --inverted: invert(1);
}
.cold-theme {
  --bg: #e9f0f7;
  --bg-card: #ffffff;
  --bg-surface: #d9e4ef;
  --bg-highlight: #3887dc4e;

  --border: #b7c6d4;
  --border-dark: #7a8a99;

  --text: #1f2a33;
  --text-muted: #5c6b78;

  --accent: #4da3ff;
  --complementary: #40d1be;

  --positive: #2ecc71;
  --negative: #ea3939;

  --inverted: invert(0);
}
.happy-theme {
  --bg: #fbfbf6;
  --bg-card:#EAF7F0;
  --bg-surface: #bbdcc9;
  --bg-highlight: #7ED1A820;

  --border: #CFE3D6;
  --border-dark: #9BBFAE;

  --text: #24332A;
  --text-muted: #5A6F63;

  --accent: #ee94dc;
  --complementary: #FFF176;

  --positive: #49B86E;
  --negative: #ea3939;

  --inverted: invert(0);
}
.wood-theme {
  --bg: #3B2F2F;
  --bg-card: #1c1c1c;
  --bg-surface: #85633e;
  --bg-highlight: #FF8A6520;

  --border: #F2C9A7;
  --border-dark: #D89A73;

  --text: #cccccc;
  --text-muted: #9b7569;

  --accent: #d58020;
  --complementary: #db4b17;

  --positive: #66BB6A;
  --negative: #961204;

  --inverted: invert(1);
}

/* #endregion THEMES */

/* #region Cards */
.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: var(--bg-card);
  border-radius: var(--radius-xl);
  border: var(--border-width-s) solid var(--border);
  gap: var(--space-2);
  padding: var(--space-3);
  margin: var(--space-2);
}
.card-body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  border-radius: var(--radius-l);
  border: var(--border-width-s) solid var(--border);
  gap: var(--space-1);
  padding: var(--space-1);
  margin: var(--space-0);
  overflow: hidden;
    flex: 1;
  min-height: 0;
}
.card-fixed {
  height: 560px;
  overflow: hidden;
}
.card-fixed-small {
  height: 385px; 
  overflow: hidden;
}
.card-fixed-large {
  height: 655px; 
  overflow: hidden;
}
.scroll-area {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}
.card-no-scroll {
  overflow: visible;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-dual-header {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
/* #endregion Cards */

/* #region Headers */
.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-bottom: var(--space-5);
}
.header {
  box-sizing: border-box;
  padding: var(--space-4);
  padding-top: var(--space-5);
  padding-bottom: var(--space-3);
}
.flex-row { 
  display: flex; gap: 10px; 
}
.flex-col { 
  display: flex; flex-direction: column; gap: 10px; 
}
.form-row {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  gap: var(--space-2);
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.form-row > * {
  flex: 1;
  min-width: 0;
}
/* #endregion Headers */

/* #region Unified ListItems (MealBuild & MealList) */
.list-item {
  display: flex;
  flex-direction: column;
  background: var(--bg-surface);
  color: var(--text);
  border-radius: var(--radius-m);
  padding: var(--space-0) var(--space-0);
  margin-bottom: var(--space-1);
}
.list-item .day {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
  color: var(--accent);
}
.list-item .meta {
  color: var(--accent);
}
.summary-row {
  display: flex;
  align-items: center;
  height: var(--height-size-m);
  padding: var(--space-2);
}
.summary-row .day {
  flex: 0 0 80px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.summary-row .title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.summary-row .amountTag {
  flex: 0 0 0px; 
  text-align: right;
  white-space: nowrap;
}
.summary-row .meta {
  flex: 0 0 70px;
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
}
.summary-row .expandToggle {
  display: none;
  flex: 0 0 30px;
  text-align: right;
  padding: var(--space-1);
  margin: var(--space-1);
}
.expandedView {
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  border-radius: var(--radius-m);
  background: var(--bg-card);
  color: var(--text-muted);
}
.expandedView.open {
  margin: var(--space-1);
  padding: var(--space-1);
  max-height: 2000px;
}
.expandedView.open > * + * {
  margin-top: var(--space-2);
}
.expandedView button {
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--accent);
  border-radius: var(--radius-m);
  border: var(--border-width-s) solid var(--border-dark);
  color: var(--text);
}
.expandedView .deleteBtn {
  background-color: var(--negative);
  margin-right: auto;
}
.actionButtonsRowBottom{
  display: flex;
  justify-content:flex-end;
  gap: var(--space-1);
}
/* #endregion Unified list items */

/* #region MealList */
#mealList {
  overflow-y: auto;
  transition: max-height 0.3s ease;
}
#mealList li.dayColor0 {
  background-color: var(--bg-highlight)
}
#mealList li.dayColor1 {
  background-color: var(--bg-surface)
}
#mealList {
  scrollbar-width: none;
}
#mealList::-webkit-scrollbar {
  display: none;
}
/* #endregion MealBuild */

/* #region MealBuild */
/* formatering för hela listan */
#mealBuild {
  display: flex;
  flex-direction: column-reverse;
}
#kcalBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-width-s) solid var(--border);
  padding: var(--space-2);
  margin: var(--space-2);
}
#remainingKcal {
  margin-left: var(--space-1);
  margin-right: var(--space-1);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
}
#totalKcal{
  margin-left: var(--space-1);
  margin-right: var(--space-1);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
}
.kcal-positive {
  color: var(--positive)
}
.kcal-negative {
  color: var(--negative)
}
/* #endregion mealBuild */

/* #region WeekSummary */
#weekSummary li {
  display: block;
  align-items: center;
  padding: var(--space-3);
  margin: var(--space-1);
  border: 0px solid var(--border);
  border-radius: var(--radius-m);
  height: var(--height-size-m);
  background: var(--bg-surface);
}
#weekSummary li:last-child {
  border-bottom: none;
}
.weekRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--space-1);
  margin-right: var(--space-1);
}
.weekLabel {
  font-weight: var(--font-weight-m);
  color: var(--text);
  white-space: nowrap;
}
.weekNumbers {
  display: flex;
  justify-content: flex-end;
  width: 200px;           
  text-align: right;  
  gap: var(--space-2);  
  font-weight: var(--font-weight-m);
  color: var(--text);                 
}
.weekend {
  background-color: var(--bg-highlight)!important;
  border-radius: var(--radius-s);
}
.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}
.diff.positive {
  color: var(--positive);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
}
.diff.negative {
  color: var(--negative);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
}
/* #endregion weekSummary */

/* #region WeekHistory */
#weekHistory li {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: var(--font-size-m);
  color: var(--text);
  height: var(--height-size-m);
  margin: var(--space-1);
  padding: var(--space-2);
  border-radius: var(--radius-m);
}
#weekHistory li:nth-child(odd) {
  background: var(--bg-surface);
}
#weekHistory li:nth-child(even) {
  background: var(--bg-highlight);
}
#weekHistory .weekLabel {
  font-weight: var(--font-weight-m);
  text-align: left;
}
#weekHistory .weekKcal {
  font-weight: var(--font-weight-m);
  text-align: right;
  opacity: 0.8;
}
/* #endregion weekHistory */

/* #region Button, Input, Select */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: inherit;
  user-select: none;
  height: var(--height-size-s);
  border-radius: var(--radius-m);
  border: var(--border-width-s) solid var(--border);
  font-size: var(--font-size-m);
}
.btn-primary {
  background: var(--complementary);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-all) solid var(--border);
  width: var(--width-size-l)
}
.btn-secondary {
  background: var(--accent);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-all) solid var(--border);
  width: var(--width-size-l)
}
.btn-neutral {
  background: var(--bg-card);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-none) solid var(--border);
  width: var(--width-size-max)
}
.btn-warning {
  background: var(--negative);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-all) solid var(--border);
  width: var(--width-size-l)
}
input {
  text-align: center;
  background: var(--bg);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-all) solid var(--border);
  font-size: var(--font-size-m);
  padding: var(--space-1);
  height: var(--height-size-s);
}
input::placeholder {
  color: var(--text);
}
select {
  text-align: center;
  text-align-last: center; 
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;  
  background-image: none;
  background: var(--bg);
  color: var(--text);
  border-radius: var(--radius-l);
  border: var(--border-sides-all) solid var(--border);
  font-size: var(--font-size-m);
  padding: var(--space-1);
  height: var(--height-size-s);
  width: var(--width-size-l);  
}
/* #endregion Button, Input, Select */

/* #region Dropdowns */
.dropdown {
  position: relative;
  width: 100%;
  border-radius: var(--radius-xl);
  border: var(--border-width-s) solid var(--border);
  margin-bottom: var(--space-1)
}
.dropdown input {
  background: var(--bg);
  padding: var(--space-3);
  border-radius: var(--radius-xl);
  width: 100%;
  height: 45px;
  font-size: var(--font-size-m);
  text-align: left;
}
.dropdown-list {
  position: absolute;
  max-height: 35vh;
  overflow-y: auto;
  width: 96%;
  left: 2%;
  right: 0;
  z-index: 9999;
  color: var(--text);
  background: var(--bg);
  border: var(--border-width-m) solid var(--border);
  border-radius: var(--radius-l);
}
.dropdown-list .item {
  padding: 6px 10px;
  cursor: pointer;
  color: var(--text-muted);
  border-bottom: var(--border-width-m) solid var(--border);
}
.dropdown-list .item:hover {
  background: var(--accent);
  color: var(--text);
}
/* #endregion dropdows */

/* #region BOTTOM BAR */
.bottom-bar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: var(--bg-card);
  border-top: var(--border-width-m) solid var(--border);
  border-bottom: 0;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  padding: 0px 10px 5px 10px;
}
.bottom-bar button {
  all: unset;
  width: 70px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  border-radius: var(--radius-xl);
}
.bottom-bar button.active {
   background: var(--complementary);
}
.nav-icon {
  filter: var(--inverted);
  height: 40px;
  width: 40px;
}
/* #endregion bottom bar */

/* #region Day-Scroller */
.day-scroll {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px 0 0 0;
  margin-bottom: var(--space-2)
}
.day-scroll::-webkit-scrollbar {
  display: none;
}
.day-item {
  padding: 8px 8px;
  min-width: 40px;
  text-align: center;
  border-radius: 10px;
  background: var(--surface-2);
  color: var(--text-muted);
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--font-size-m);
  transition: background 0.2s ease, color 0.2s ease, padding 0.2s ease;
}
.day-item.today {
  color: var(--accent);
  padding: var(--space-2);
  min-width: 60px;
}
.day-item.active {
  background: var(--accent);
  color: var(--text);
  opacity: 1;
  padding: 8px 8px;
}
/* #endregion day scroll bar */

/* #region Edit */
.edit-row {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-1);
  margin-bottom: var(--space-1);
  height: var(--height-size-m);
  background: var(--bg-surface);
  border-radius: var(--radius-m);
  padding: var(--space-2);
}
#editCard .edit-value input[data-key="name"] {
  min-width: 300px;
  text-align: left;
}
.edit-value input {
  width: 100%;
  text-align: center;
}
#editCard .card-body {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
#editList {
  flex: 1;
  min-height: 0;
  border: 1px solid var(--border);
  border-radius: var(--radius-l);
  overflow: auto;
}
.edit-item {
  color: var(--text);
  border-radius: var(--radius-m);
  padding: var(--space-1) var(--space-1);
  margin-bottom: var(--space-1);
  display: flex;
  align-items: center;
}

.card-footer {
  padding-top: var(--space-2);
}
.card-footer .form-row {
  justify-content: center;
}
.settings-row {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.settings-row .label {
  flex: 0 0 70%;
  margin: 0;
  text-align: left;
}
.settings-row .controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2);
}
#addNewFoodBtn {
  font-size: var(--font-size-xl);
  line-height: 1;  
  padding: 4px 10px;
  width:50px; 
}
/* #endregion edit */

/* #region Setttings */
.settings-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-size-m);
  padding: var(--space-2);
  margin-bottom: var(--space-1);
  border-radius: var(--radius-m);
  background: var(--bg-surface);
  color: var(--text);
}
.settings-item:last-child {
  border-bottom: none;
}
.settings-item .label {
  font-size: var(--font-size-m)
}
/* #endregion Settings */

/* #region Solutions */
#versionTag {
  text-align: center;
  color: var(--text-muted);
  padding: var(--space-0);
}
#daySelect {
  width: 150px;
  border: none;
  background: transparent;
}
#saveWeekBtn {
  font-size: var(--font-size-m);
  width: 150px;
  border: none;
}
/* #endregion Solutions */


